@using ArtGallery.Utils
@using ArtGallery.Interfaces.Services
@inject IPeriodService periodService

<div class="period-component">
    <span class="text-[1.25rem] text-black">@PeriodProp.Name</span>
    <div>
        <button type="button" class="btn btn-dark">Update</button>
        <button @onclick="DeletionSwitch" type="button" class="btn btn-danger">Delete</button>
    </div>
    @if (Deletion == true)
    {
        <div class="xd">
            <button @onclick="ConfirmDeletion" type="button" class="btn btn-danger">Confirm</button>
            <button @onclick="DeletionSwitch" type="button" class="btn btn-dark">Cancel</button>
        </div>
    }
</div>

@code {
    [Inject] public required EventService EventService { get; set; }
    [Parameter] public required PartialPeriod PeriodProp { get; set; }
    public bool Deletion = false;

    public void DeletionSwitch()

    {
        Console.WriteLine("Event Triggered");
        Deletion = !Deletion;
    }

    public async Task ConfirmDeletion()
    {
        await periodService.Delete(PeriodProp.PeriodId);
        await EventService.NotifyPeriodDeleted();
    }
}

@* Sorry, myself. For this style *@
<style>
    .period-component {
        width: 100%;
        height: 50px;
        display: flex;
        padding: 5px;
        position: relative;
        padding-left: 15px;
        border-radius: 3px;
        align-items: center;
        background-color: #dad7cd;
        justify-content: space-between;
    }

        .period-component > span {
            line-height: 1;
            font-weight: 500;
            font-size: 1.4rem;
        }

    .xd {
        top: 0;
        left: 0;
        gap: 5px;
        z-index: 99;
        width: 100%;
        height: 100%;
        padding: 5px;
        display: flex;
        border-radius: 3px;
        position: absolute;
        align-items: center;
        outline: 1px solid red;
        justify-content: center;
        background-color: rgba(0,0,0,0.5);
    }

        .xd > .btn {
            width: 50%;
        }
</style>