@page "/welcome"

<PageTitle>Art Gallery Admin Panel</PageTitle>

<h3>Home</h3>

@if (Summary != null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Artist</th>
                <th scope="col">Artwork</th>
                <th scope="col">Museum</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Summary.ArtistCount</td>
                <td>@Summary.ArtworkCount</td>
                <td>@Summary.MuseumCount</td>
            </tr>
        </tbody>
    </table>
}

@if (Periods != null)
{
    <ul>
        @foreach (var item in Periods)
        {
            <li><SinglePeriod Period="item" /></li>
        }
    </ul>
}

@code {

}
