    

.article {
    width: 100%;
    flex: 1;
    padding: 10px;
}

    .article > div:first-child {
        font-size: 1.35rem;
    }

@media (min-width: 640px) {
    .article {
        outline: 1px solid white;
    }
}
