@page "/"

<div class="top-row">
    <h1>Art Gallery Admin Panel</h1>
</div>

<article class="article">
    <div class="">
        <h4>
            Welcome to the admin panel of my application. I don't really know what to put on the landing page
            so I'll just yap here for a while.
        </h4>
        <p>
            I started this project because I wanted to apply my web development knowledge on a objected oriented programming language
            I've done Web APIs on Java (Spring Boot), NodeJS (Express, NestJS) and PHP (Laravel). And you must be thinking "Ruan. Java
            is an OOP language". Yes, I know that, but I have a irrational hate for Java and Spring Boot and learning ASP.NET just
            allowed me to embrace that hate (If you're an employer for a Java position please don't mind that, I can still work with it).
        </p>
        <p>
            Anyway, lets see what I've done so far:
        </p>
        <ul>
            <li>
                Amazing Layers: The big tree of the project: Controllers, Services and Repositories. This API pattern is great to ensure
                separation of concerns in your application and ASP.NET makes it really easy because of the way it automatically handles 
                the injection of dependencies in the layers.
            </li>
            <li>
                Authentication: Created a authentication system using JSON Web Tokens as base.
            </li>
            <li>
                Caching: using Redis as a quick cache for massive database queries (Find all, Find All Partial, Find All Paginated).
            </li>
            <li>
                Blazor Interface: right now I'm figuring out how Blazer works together with Razor. As for now, it's pretty straight forward
                . It helps that I have experience with React so it's easy to transfer the knowledge. I'm not going to waste too much time on
                the styling and just focus on the fuctionalities as I still have stuff to learn.
            </li>
        </ul>
    </div>
</article>

@code {

}
